{% extends "admin_dashboard.html" %}

{% block content %}
<div class="row">
    <div class="col-md-5">
        <h3>Chapters</h3>
        <p>Manage Chapters here.</p>
    </div>

    <div class="col-md-5">
        <input type="text" class="form-control" placeholder="Search chapters..." 
       data-search data-api="/get_chapters" data-field="chapter_name" data-view-url="/admin_dashboard/edit_chapter?chapter_id=">
    </div>
</div>

<div class = "form-group"> 
    <div class = "row">
        <div class="col-md-5">
            <form action="" method="post" novalidate>
                {{ form1.hidden_tag() }}
                {{form1.subject_id.label}}
                {{form1.subject_id(class="form-control")}}
                {{form1.chap_name1.label}} {{ form1.chap_name1(size=32) }}<br>
                {{form1.chap_description1.label}} {{ form1.chap_description1(rows = 3, cols = 36) }}<br>
                {{ form1.submit() }}
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-messages {% if category == 'success' %}success{% elif category == 'danger' %}error{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
        </div>
        <div class="col-md-5">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Chapter Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody data-table-body></tbody>
            </table>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='search.js') }}"></script>
{% endblock %}