{% extends "user_dashboard.html" %}

{% block content %}
<div class = "d-flex flex-column align-items-center col-md-10">
    <h4 class = "pt-5">Upcoming Quizzes</h4>
    <div class="container px-5 py-3 col-md-8">        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Quiz</th>
                    <th>No. of questions</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for quiz, question_count in quizzes %}
                    <tr>
                        <td>{{ quiz.quiz_name }}</td>
                        <td>{{ question_count }}</td>
                        <td>
                            <div class="d-flex flex-row gap-2">
                                <button type="button" class="btn btn-primary" onclick="viewQuiz('{{ quiz.quiz_id }}');" );>View</button>
                                <button type="button" class="btn btn-secondary" onclick="takeQuiz('{{ quiz.quiz_id }}')" );>Take Quiz</button>
                                <input type="checkbox" id="enableTimer_{{ quiz.quiz_id }}" class="form-check-input">
                                <label for="enableTimer_{{ quiz.quiz_id }}" class="form-check-label">Enable Timer</label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}